# Minecraft .gitignore
# For Fabric mod syncing

# Copyright (c) 2023 TheKrafter
# SPDX-License-Identifier: MIT


# Things you may want to
# comment out:

resourcepacks/
texturepacks/
shaderpacks/

servers.dat


# Directories not Synced:

coremods/
crash-reports/
defaultconfigs/
logs/
server-resource-packs/
saves/
.fabric/

# Subdirectories not Synced:

mods/.index/


# Root Files

deaths.dat
icon.png
imm_ptl_state.json
irisUpdateInfo.json
options.txt
rhino.local.properties
servers.dat_old
usercache.json


# KubeJS

## Logs

kubejs/client.txt
kubejs/server.txt
kubejs/startup.txt

## Dirs

kubejs/.old/
kubejs/exported/
